{% extends "idciapp/index.html" %}

{% block title %}IDCI | Author Search IDCI{% endblock %}

{% block content %}
<h2>Search Result</h2>

<ol>
{% for list in author %}
<li>{{ list.name }}<br />
{{ list.affil }} | {{ list.address }} 
</li>
{% endfor %}
</ol>


{% endblock %}

{% block rightbar %}
<h2>Related Paper :</h2><br><br>
{{paperdetail.abstract|linebreaks }}
{% endblock %}

{% block middletext %}
{% endblock %}

{% block topleft %}
{% endblock %}

{% block topmid %}
{% endblock %}

{% block topright %}
{% endblock %}
