{% extends "idciapp/index.html" %}

{% block title %}IDCI | Paper Detail{% endblock %}

{% block content %}
<h2>{{ paperdetail.title }} </h2>
Author :
<ol>
{% for penulis in author %}
<li>{{ penulis.name }},{{ penulis.email}}. {{ penulis.affil}}</li>
{% endfor %}
</ol>
<hr>
{{paperdetail.abstract|linebreaks }}
<hr>
Publisher : {{paperdetail.publisher }} | {{paperdetail.crawlDate }}
<br>Citation : {{paperdetail.ncites}} | Self Citation : {{paperdetail.selfCites}}
<br><br><p>
References : <br>
<ol>
{% for d in ref %}
<li>{{ d.authors }},{{ d.title}}</li>
{% endfor %}
</ol>
</p>
{% endblock %}

{% block rightbar %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Cited by {{paperdetail.ncites}} documents</h4></div>
  <div class="panel-body">
  <ul>{% for e in title %}
  
<li>{{ e.title }} <br><i> Authors{{ e.authors}}</i></li>
{% endfor %}
</ul>
  </div>
</div>
<hr>
<h2>Related Document</h2><br><br>
{{paperdetail.abstract|linebreaks }}
{% endblock %}

{% block middletext %}
Keywords : 
{% for a in keyword %}
{{ a.keyword }},
{% endfor %}
{% endblock %}