{% extends "idciapp/index.html" %}

{% block title %}IDCI | Paper Search IDCI{% endblock %}

{% block content %}
<h2>Search Result</h2>

<ol>
{% for lists in publisher %}
<li><a href="{% url "paperdetail" pk=lists.pk judul=lists.title %}">{{ lists.title }}</a> <br /> Cited : {{ lists.ncites}} times
<br />
<p class="abstrak">Abstract <br /><br />{{ lists.abstract}}</p> 
</li>
{% endfor %}
</ol>


{% endblock %}

{% block rightbar %}
<h2>Related Paper :</h2><br><br>
{{paperdetail.abstract|linebreaks }}
{% endblock %}

{% block middletext %}
{% endblock %}

{% block topleft %}
{% endblock %}

{% block topmid %}
{% endblock %}

{% block topright %}
{% endblock %}
